.DS_Store
._.DS_Store
/.vagrant/
/tmp
/la_cookbooks/fueled-windows-station/resources/vendor/*
/la_cookbooks/fueled-windows-station/resources/Output/*
/cookbooks/fueled-windows-station/resources/vendor/*
/cookbooks/fueled-windows-station/resources/Output/*
*.box
